In [ ]:
#importing necessary lib
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

**Load the data from the provided tables (dummy data)**

In [ ]:
user_offer_completion_data = pd.read_csv("User_offer_completion_data.csv")  # this is dummy links
rewards_details = pd.read_csv("Rewards_details.csv")
user_signup_data = pd.read_csv("User_signup_data.csv")

**Merge the necessary tables**

In [ ]:
merged_data = pd.merge(user_offer_completion_data, rewards_details, on="reward_id")
merged_data = pd.merge(merged_data, user_signup_data, on="user_id")

**Merge the necessary tables based on the common columns:**

Merge the "User offer completion data" and "Rewards details" tables on the "reward_id" column to get the reward details for each offer completion.
Merge the resulting table with the "User Signup data" table on the "user_id" column to include the marketing channel information.

**Calculate the revenue generated by each user**

In [ ]:
revenue_per_user = merged_data.groupby("user_id")["total_revenue_in_paise"].

**Calculate LTV for each marketing channel**

In [ ]:
ltv_data = merged_data.groupby("utm_source").agg(
    unique_users=("user_id", "nunique"),
    total_revenue=("total_revenue_in_paise", "sum"),
    average_lifespan=("last_login_at", lambda x: (x.max() - x.min()).days)
)

ltv_data["avg_revenue_per_user"] = ltv_data["total_revenue"] / ltv_data["unique_users"]
ltv_data["ltv"] = ltv_data["avg_revenue_per_user"] * ltv_data["average_lifespan"]

user_id
02f19b3c-f65e-42da-a170-a91cafffbc1a      823
033c38d4-fd46-45a2-b09a-18d637c54129    56981
047ef59d-4331-48b7-9bfb-f6fa23101a4f    79218
06d482fe-f418-4f55-92d8-07aa3f033fd1    40091
0bdf2e4e-c610-4196-b8be-f08e24e97058    61683
                                        ...
ec82a57d-6d07-421c-a7a9-c3a2c47b9a0d    22000
efc9fa60-1d9f-4295-a296-b75838a24a6d        0
f3375d83-3d8e-416f-a97d-c8e0f03f2b2d     1679
f55000a3-dd68-44d8-b461-41c85d963ce2    24172
f5a888fe-f92d-44ed-899f-ef0a8ee7e0f2    23300
Name: total_revenue_in_paise, Length: 76, dtype: int64

In [ ]:
# Print the LTV data
print(ltv_data)